@import '../../../styles/main.scss';

.game-selector {
    display: flex;
    flex-direction: column;
    min-width: 20vh;
    align-items: center;

    &__button {
        background-color: $primaryBackground !important;
    }
}