.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #c5c8ce;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Maintaining the playful font */
  color: #000000; /* Changing the color to black */
  font-size: 32px; /* Increasing the font size for more emphasis */
  padding: 15px 25px; /* Adjusting padding for the increased font size */
  margin-bottom: 25px; /* Adjusting space below the header */
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.paddingTop {
  padding-top: 16px;
}


.colored-box {
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Maintaining the playful font */
  font-weight: bold; /* Makes the text bold */
  font-size: 1.2em; /* Sets the font size to medium. Adjust the value as needed */
  color: black; /* Set text color to white for contrast; adjust as needed */
  padding: 20px;
  margin: 10px 0;
  width: 50vh; /* Fixed width */
  height: 2vh; /* Fixed height */
  display: flex;
  justify-content: space-between; /* Aligns children on opposite ends */
  align-items: center;
  overflow: hidden; /* Prevents text from overflowing */
  text-overflow: 'ellipsis'; /* Adds an ellipsis if the text overflows */
  white-space: nowrap; /* Keeps the text on a single line */
  border-radius: 8px; /* Rounds the edges */
  border: 4px solid black;
}

/* Enhanced glowing effect with gold color and size change */
@keyframes glow-animation {
  0%, 100% {
    box-shadow: 0 0 8px rgba(255, 215, 0, 0.6); /* Gold glow, less intense */
    transform: scale(1); /* Original size */
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 215, 0, 0.9); /* Gold glow, more intense */
    transform: scale(1.05); /* Slightly larger */
  }
}

/* Applying the animation */
.glowing {
  border: 4px solid transparent;
  animation: glow-animation 2s infinite alternate;
}

.guessInput {
  width: 50vh;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally for all content types */
  text-align: center; /* Center text for inline/inline-block elements */
}

.playableGame {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally for all content types */
}

.gameSelector {
  display: flex;
  flex-direction: column;
  min-width: 20vh;
  align-items: center; /* Center horizontally for all content types */
}

.App-link {
  color: #61dafb;
}

.input-error {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  /* Optional: add a border or background color to highlight the error */
  border-color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingIndicator {
  height: 2vh;
  width: 50vh;
}

.list-container {
  flex-grow: 1; /* Make the list container take up the remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.wordlink-logo img {
  width: 200px; /* Adjust based on your logo's size */
  height: auto;
}

/* Keyframes for the shine effect */
@keyframes shine {
  0% {
    background-position: top right;
  }
  100% {
    background-position: top left;
  }
}

.bottom-element {
  position: absolute; /* Absolute positioning relative to the nearest positioned ancestor (the container) */
  bottom: 0; /* Align to the bottom */
  width: 100%; /* Optional: it depends on how you want the bottom element to fill the container */
}

.side-panel-container {
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: space-between; /* Space between items, pushing the last item to the bottom */
  height: 100%; /* Takes up full height of its parent, adjust as necessary */
  border: 1px solid #000; /* Just to show the container's boundary, optional */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* This will prevent scrolling in all directions */
}

.container {
  display: flex;
  height: 100vh;
}

.side-panel {
  width: 15%;
  background-color: #77dd77; /* Example color */
  /* Ensure the side panel fills the vertical space */
  height: 100%;
}

.main-content {
  /* Ensure the main content fills the remaining horizontal space */
  background-color: #f8f8f7; /* Example color */
  /* Add some padding if you want to ensure content doesn't touch the edges */
  padding: 20px;
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

/* Directly style the centered content without additional containers */
.centered-content {
  /* No specific width; content width dictates size */
  display: inline-block; /* Inline-block for the content itself */
  /* Ensures text within the centered content is aligned */
  text-align: left; 
}

/* This wrapper centers the .centered-content horizontally */
.main-content-wrapper {
  background-color: #f8f8f7; /* Example color */
  text-align: center;
  width: 100%;
  /* Fill the vertical space, align content to start */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.left-align {
  display: inline-block; /* or 'block', depending on your layout needs */
  text-align: left;
  width: 100%; /* Ensure it's set to 100% or another specific width if using block or inline-block */
}

.side-padding {
  padding-left: 20px;
  padding-right: 20px;
}